# Configurações do banco de dados para desenvolvimento
DB_USER=user
DB_PASSWORD=password
DB_NAME=db
DB_HOST=localhost
DB_PORT=5432
JWT_SECRET="uisn-0-932-9unvfDF_FVFDVFD(sosn_+))_sdkjbksdqw"

# Configurações do banco de dados para teste
DB_NAME_TEST=test

# Configurações do banco de dados para produção
DB_NAME_PROD=prod